:root {
  --bs-green-primary: #99ba3f;
  --bs-green-hover: #b9d179;
  --bs-green-light: #f1f5e9;
  --bs-black: #2c2c2c;
  --bs-gray: #2c2c2c;
  --bs-gray-secondary: #a3a3a3;
  --bs-gray-light: #fafafa;
  --bs-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1vh 5vw;
}

.border-green-primary {
  border-top: 8px solid var(--bs-green-primary);
}

.border-gradient {
  background: linear-gradient(to right, #4f9e88, #a1bd36);
  height: 8px;
}

.btn-green-primary {
  background-color: var(--bs-green-primary);
  color: var(--bs-white);
}

.btn-green-primary:hover {
  background-color: var(--bs-green-hover);
  color: var(--bs-white);
}

.menu-custom {
  color: var(--bs-gray-secondary);
}

.menu-custom:hover {
  color: var(--bs-gray-secondary);
}

#rotative-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40vw;
  height: 100vh;
  background-color: var(--bs-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

#buttonContainer {
  padding: 4vh 5em;
}

#socialMediaContainer {
  background-color: var(--bs-green-primary);
  padding: 6vh 4em 10vh 4em;
}

#rotative-menu.active {
  right: 0;
}

.menu-content {
  padding: 2rem 4rem;
  flex-grow: 1;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.menu-content li {
  margin: 1rem 0;
}

.menu-content a {
  text-decoration: none;
  color: var(--bs-white);
  font-size: 1.3rem;
  transition: color 0.2s;
}

.menu-content a:hover {
  color: var(--bs-green-hover);
}

.hero-section {
  position: relative;
  display: flex;
  padding: 0em 15em;
  justify-content: start;
  align-items: center;
  height: 60vh;
  background-size: cover;
  background-position: center;
  animation: changeBackground 12s infinite;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: changeBackground 12s infinite;
  filter: brightness(0.5);
  z-index: 1;
}

@keyframes changeBackground {
  0% {
    background-image: url("/assets/banner/businesswoman.png");
  }
  33% {
    background-image: url("/assets/banner/css-js-banner.png");
  }
  66% {
    background-image: url("/assets/banner/Foto-2.png");
  }
  100% {
    background-image: url("/assets/banner/businesswoman.png");
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
}

.hero-content p {
  font-size: 1rem;
  width: 55%;
}

.hero-content .btn {
  border-radius: 30px;
  margin-top: 10px;
  padding: 1vh 2em;
}

#serviceSection {
  padding: 8vh 0;
}

#serviceSection h3 {
  color: var(--bs-green-primary);
  letter-spacing: 5px;
  font-size: 1.2em;
}
#serviceSection h2 {
  font-weight: 600;
}
#serviceSection p {
  margin-top: 2em;
  color: var(--bs-gray-secondary);
  width: 48%;
}
#serviceContainer {
  width: 100%;
  max-width: 75vw; 
  overflow: hidden;
  position: relative;
  margin-top: 5em;
}

.serviceWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 4em;
}
.serviceContent {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.serviceContent:hover {
  background-color: var(--bs-green-light);
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.serviceCircle {
  background-color: var(--bs-green-light);
  height: 8em;
  width: 8em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carouselIndicators {
  margin-top: 40px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--bs-green-light);
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--bs-green-primary);
}

.dot:hover {
  background-color: var(--bs-green-primary);
}
#serviceContainer .serviceContent .serviceCircle img {
  width: 3em;
}

#serviceContainer .serviceContent h3 {
  color: var(--bs-black);
  letter-spacing: 0;
  margin-top: 1em;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

#serviceContainer .serviceContent p {
  text-align: center;
  font-size: 1em;
  width: 70%;
}

#aboutSection {
  background-color: var(--bs-gray-light);
  padding: 5em 15em;
  gap: 8vw;
}

#aboutText h3 {
  color: var(--bs-green-primary);
  letter-spacing: 5px;
  font-size: 1.2em;
}
#aboutText h2 {
  font-weight: 600;
  width: 70%;
}
#aboutText p {
  margin-top: 2em;
  color: var(--bs-gray-secondary);
  width: 100%;
  font-size: 0.9em;
}
#aboutSection #aboutVideo #thumbnail {
  border-radius: 10px;
}

#thumbnail {
  width: 30vw;
  height: 80vh;
  object-fit: cover;
  filter: brightness(0.5);
}

#overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 20vw;
  cursor: pointer;
}
#overlay h4 {
  font-size: 1em;
  margin-top: 1em;
  width: 30%;
  text-align: center;
}

#videoModal .modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#videoModal .modal-body {
  padding: 0;
}

#videoModal .modal-header {
  border: none;
  padding: 0.5rem 1rem;
}

#closeBtnVideo span {
  color: var(--bs-gray-secondary);
  font-size: 1.2em;
  padding-right: 0;
  margin-right: 0;
}

#missionContainer {
  margin-top: 1em;
}
.missionAbout img {
  width: 8px;
  color: var(--bs-gray-secondary);
}

.missionAbout span {
  color: var(--bs-gray-secondary);
}

#parallaxSection img {
    min-height: 60vh;
    width: 100%;
    background-position: center;
    object-fit: cover; 
    object-position: center; 

}

@media (max-width: 576px) {
  header {
    padding: 1vh 4vw 1vh 4vw;
  }

  h1 img {
    width: 5em;
  }

  #rotative-menu {
    width: 80%;
  }

  #buttonContainer {
    padding: 4vh 1em 0vh 1em;
  }

  #closeButton {
    font-size: 0.9rem;
  }

  .menu-content {
    padding: 1rem 3rem;
  }

  .menu-content a {
    font-size: 1rem;
  }

  #socialMediaContainer {
    padding: 5vh 0 5vh 0;
  }

  #socialMediaContainer #logoFooter {
    width: 10em;
  }

  .hero-section {
    padding: 0em 1em;
    height: 40vh;
    padding-bottom: 5vh;
  }

  .hero-content h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .hero-content p {
    font-size: 0.8rem;
    width: 100%;
    max-width: 80%;
  }

  .hero-content .btn {
    border-radius: 30px;
    margin-top: 10px;
  }

  #serviceSection {
    padding: 8vh 1vw;
  }

  #serviceSection h3 {
    color: var(--bs-green-primary);
    letter-spacing: 5px;
    font-size: 1em;
  }

  #serviceSection h2 {
    font-weight: 600;
    font-size: 1.6em;
    width: 90%;
    max-width: 95%;
  }

  #serviceSection p {
    margin-top: 1em;
    color: var(--bs-gray-secondary);
    width: 90%;
  }

  .serviceContent h3 {
    color: var(--bs-black);
    letter-spacing: 0;
    margin-top: 0em;
    font-weight: 600;
  }

  #serviceContainer .serviceContent p {
    margin-top: 0;
    color: var(--bs-gray-secondary);
    text-align: center;
    font-size: 1em;
    width: 20%;
  }

  .serviceWrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .serviceContent {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  #serviceContainer .serviceContent h3 {
    color: var(--bs-black);
    letter-spacing: 0;
    margin-top: 2em;
    font-weight: 600;
    text-align: center;
    width: 20%;
  }

  #aboutSection {
    padding: 1vh 4vw 8vh 5vw;
    gap: 8vw;
  }
  
  #aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  #aboutText h3 {
    color: var(--bs-green-primary);
    letter-spacing: 5px;
    font-size: 1em;
    text-align: center;
    margin-top: 3em;
  }
  #aboutText h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    width: 70%;
  }
  #aboutText p {
    margin-top: 1em;
    color: var(--bs-gray-secondary);
    width: 100%;
    font-size: 0.9em;
  }

  #missionContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .missionAbout img {
    width: 8px;
    color: var(--bs-gray-secondary);
  }
  
  .missionAbout span {
    color: var(--bs-gray-secondary);
    font-size: 0.8em;
  }

  #thumbnail {
    width: 100%;
    height: 30em;
    object-fit: cover;
    filter: brightness(0.5);
  }

  #overlay {
    cursor: pointer;
  }
  #overlay h4 {
    margin-top: 0.5em;
    width: 10em;
    text-align: center;
    font-size: 1em;
  }

  #parallaxSection img {
    min-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    object-position: center;
}
}

@media (min-width: 576px) and (max-width: 768px) {
  #rotative-menu {
    width: 50vw;
  }

  #buttonContainer {
    padding: 4vh 1em 0vh 1em;
  }

  #closeButton {
    font-size: 0.9rem;
  }

  .menu-content {
    padding: 1rem 3rem;
  }

  .menu-content a {
    font-size: 1rem;
  }

  #socialMediaContainer {
    padding: 6vh 1em 7vh 1em;
  }

  #logoFooter {
    width: 10em;
  }

  .hero-section {
    padding: 0em 2em;
    height: 40vh;
  }

  .hero-content h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .hero-content p {
    font-size: 0.9rem;
    width: clamp(300px, 70%, 90%);
  }

  .hero-content .btn {
    border-radius: 30px;
    margin-top: 10px;
  }

  #serviceSection p {
    margin-top: 1em;
    color: var(--bs-gray-secondary);
    width: 90%;
  }

  #aboutSection {
    padding: 1vh 5vw 8vh 5vw;
    gap: 8vw;
  }
  
  #aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  #aboutText h3 {
    color: var(--bs-green-primary);
    letter-spacing: 5px;
    font-size: 1em;
    text-align: center;
    margin-top: 3em;
  }
  #aboutText h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    width: 70%;
  }
  #aboutText p {
    margin-top: 1em;
    color: var(--bs-gray-secondary);
    width: 100%;
    font-size: 0.9em;
  }

  #missionContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .missionAbout img {
    width: 8px;
    color: var(--bs-gray-secondary);
  }
  
  .missionAbout span {
    color: var(--bs-gray-secondary);
    font-size: 0.8em;
  }

  #thumbnail {
    width: 100%;
    height: 40em;
    object-fit: cover;
    filter: brightness(0.5);
  }

  #overlay {
    width: 70vw;
    cursor: pointer;
  }
  #overlay h4 {
    margin-top: 0.5em;
    width: 10em;
    text-align: center;
    font-size: 1em;
  }

  #parallaxSection img {
    height: 30vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
}

@media (min-width: 768px) and (max-width: 1200px) {
  #rotative-menu {
    width: 50vw;
  }

  #buttonContainer {
    padding: 4vh 1em 0vh 0em;
  }

  #closeButton {
    font-size: 0.9rem;
  }

  .menu-content {
    padding: 1rem 3rem;
  }

  .menu-content a {
    font-size: 1.2rem;
  }

  #socialMediaContainer {
    padding: 6vh 2em 10vh 3em;
  }

  #logoFooter {
    width: 50%;
    max-width: 12em;
  }

  .hero-section {
    padding: 0 5vw;
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .hero-content p {
    font-size: 0.9rem;
    width: clamp(300px, 70%, 90%);
  }

  .hero-content .btn {
    border-radius: 30px;
    margin-top: 10px;
  }

  #serviceSection p {
    width: 90%;
  }

  #aboutSection {
    padding: 1vh 5vw 8vh 5vw;
    gap: 8vw;
  }
  
  #aboutText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 3em;
  }
  #aboutText h3 {
    color: var(--bs-green-primary);
    letter-spacing: 5px;
    font-size: 1em;
    text-align: start;
    
  }
  #aboutText h2 {
    font-size: 1.3em;
    font-weight: 600;
    width: 70%;
  }
  #aboutText p {
    margin-top: 1em;
    color: var(--bs-gray-secondary);
    width: 100%;
    font-size: 0.9em;
  }

  #missionContainer {
    margin-top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .missionAbout img {
    width: 8px;
    color: var(--bs-gray-secondary);
  }
  
  .missionAbout span {
    color: var(--bs-gray-secondary);
    font-size: 0.8em;
  }

  #thumbnail {
    width: 40vw;
    height: 70vh;
    object-fit: cover;
    filter: brightness(0.5);
    margin-top: 3em;
  }

  #overlay {
    width: 70vw;
    cursor: pointer;
  }
  #overlay h4 {
    margin-top: 0.5em;
    width: 10em;
    text-align: center;
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 1vh 15em;
  }

  #buttonContainer {
    padding: 4vh 3em 0vh 1em;
  }

  #socialMediaContainer {
    padding: 6vh 4em 10vh 4em;
  }

  #logoFooter {
    width: 10em;
  }

  #serviceContainer .serviceContent p {
    margin-top: 0;
    color: var(--bs-gray-secondary);
  }

  #aboutSection {
    padding: 1vh 15em 8vh 15em;
    gap: 8vw;
  }
  
  #aboutText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 3em;
  }
  #aboutText h3 {
    color: var(--bs-green-primary);
    letter-spacing: 5px;
    font-size: 1em;
    text-align: start;
    
  }
  #aboutText h2 {
    font-size: 1.3em;
    font-weight: 600;
    width: 70%;
  }
  #aboutText p {
    margin-top: 1em;
    color: var(--bs-gray-secondary);
    width: 100%;
    font-size: 0.9em;
  }

  #missionContainer {
    margin-top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .missionAbout img {
    width: 8px;
    color: var(--bs-gray-secondary);
  }
  
  .missionAbout span {
    color: var(--bs-gray-secondary);
    font-size: 0.8em;
  }

  #thumbnail {
    width: 30vw;
    height: 70vh;
    object-fit: cover;
    filter: brightness(0.5);
    margin-top: 3em;
  }

  #overlay {
    cursor: pointer;
  }
  #overlay h4 {
    margin-top: 0.5em;
    width: 10em;
    text-align: center;
    font-size: 1em;
  }

  #parallaxSection img {
    height: 30vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
}
